/* inter font style  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* miama font style */
@import url('https://fonts.cdnfonts.com/css/miama');
/* body style */
body{
    font-family: "Inter", sans-serif;
    background-color:rgb(0, 0, 0); 
}
/* header section styles */
header{
    max-width: 1440px;
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(185, 185, 185,0.2),rgba(119, 119, 119, 0) 100%);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 5px 10px;
}
nav ul a,.recipes-card a,.see-more a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 400;
}
.home{
    background-color:rgb(230, 83, 60);
    border-radius: 46px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px; 
}
.hero-div1{
    width: 520px;
    height: 440px;
}
.hero-div2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.img-btn{
    margin-top: 380px;
    margin-left: -470px;
}
.img-btn2{
    margin-bottom: 200px;
    margin-left: -110px;
}
.img-btn,.img-btn2{
    width: 175px;
    height: 80px;
    background: rgba(48, 48, 48, 0.55);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
    text-align: start;
}
.img-btn2{
    width: 190px;
    height: 95px;
    padding-left: 20px;
}
.circle{
    width: 30px;
    height: 30px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}
.circle-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.shape{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 9rem;
    line-height: 0px;
}
/* shared styles */
nav h3,footer h3{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 40%;
}
.hero-title{
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
}
.hero-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.hero-btn{
    width: 220px;
    height: 50px;
    border-radius: 40px;
    background: rgb(230, 83, 60);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
}
.btn{
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
}
.span1,.span2{
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(250, 250, 249);
}
.span2{
    font-size: 2.5rem;
}
.habit-title{
    margin-bottom: 0px;
}
.habit-description{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.hide{
    display: none;
}
/* habit section styles */
.habit-section{
    text-align: center;
    max-width: 1044px;
    margin: 0 auto;
    margin-top: 150px;
}
.round-img{
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
    height: 200px;
    width: 200px;
}
.img-title{
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 0;
}
.habit-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
    gap: 10px;
}
/* run section styles */
.run-section{
    background: rgb(34, 34, 34);
    border-radius: 18px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;   
}
.run-sec-div1{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 40px 80px;
}
.run-img{
    width: 90%;
    border-radius: 18px;
    margin: 0px 200px 0px 0px;    
}
.run-section button{
    margin-top: 20px;
}
.run-section p{
    letter-spacing: 0.5px;
}
/* bmi section styles */
.bmi{
    max-width: 1440px;
    margin: 0 auto;
}
.bmi-div{ 
    display: flex;
    justify-content: space-around;
    background: rgb(34, 34, 34); 
    padding-bottom: 50px;
}
.input1{ 
    width: 100%;
    height: 100%;
}
.bmi-heading{
    padding: 60px 450px 60px 520px;
    max-width: 650px;
    margin: 0 auto; 
}
.bmi-p{
    margin-bottom: 30px;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
}
.bold{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.bmi-title{
    font-size: 1.75rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.input-1,select,textarea{ 
    width: 50%;
height: 30px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
border: none;
padding: 12px 40px 12px 20px;
}
textarea{
    width: 89%;
    height: 60px;
    margin-bottom: 12px;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
 select{
    width: 63%;
    height: 55px;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.div1{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}
.div2 select{
    width: 100%;
    margin-bottom: 12px;
}
/* our team section styles */
.our-team{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.trainer{
    text-align: start;
    margin-top: -120px;
    margin-left: 20px;
}
.trainerdiv{
    max-width: 950px;
    margin: 0 auto;
    border-radius: 18px;
    padding: 20px 20px 0px 20px; 
    background: rgba(255, 255, 255, 0.1);
    margin-top: 50px;
}
.trainer-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    border-radius: 18px;

}
.trainer-card{
   margin-bottom: 40px;
}
.trainer-div img{ 
    border-radius: 18px;  
}
/* healthy-recipes section styles */
.recipes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    padding-top: 50px;
}
.recipes-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.1) ;
    border-radius: 18px;
    padding: 30px;
}
.healthy-recipes{
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 80px;
}
.healthy-recipes h3,.healthy-recipes p{
    text-align: center;
    margin-bottom: 10px;
}
.recipes-card img{
         width: 100%;
         border-radius: 18px;
}
.recipes-card p{
    margin-bottom: 0px;
    text-align: center;
}
.recipes-card button{
    height: 50px;
    width: 150px;
    margin-top: 20px;
}
.see-more a{  
    display: flex;
    justify-content: end;
    align-items: end;
}
.see-more{
    margin-top: 30px;
}
/* footer section styles */
footer{
    max-width: 1440px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 80px;
}
footer h3{
    font-size: 3rem;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer li{
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}
footer h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-p{
    text-align: center;
    padding-bottom: 35px;
    font-size: 1.1rem;
}
hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 1059.5px;
    margin-top: 50px;
}
.footer-div{
    display: flex;
    justify-content: space-around;
}
.footer-list{
    display: flex;
    gap: 80px;
}
@media  screen and (max-width:576px) {
    .hiden{
        display: none;
    }
    .hide{
        display: block;
    }
    nav{
        margin: 10px;
    }
    nav ul{
        border: 0px;
    }
    .hero{
        flex-direction: column;
        margin: 10px; 
        padding-left: 0px;
    }
    .hero-div1{
        width: 100%;
        height: 70%;
        margin-bottom: 60px;
    }
    .hero-div2{
        width: 100%;
        display: flex;
    }
    .hero-div2 img{
        width: 70%;
        left: 40px;
    }
    .hero-btn{
        font-size: 1rem;
    }
    .hero-title,.run-sec-div1 h4,.bmi h4{
        font-size: 2.5rem;
    }
    .habit-section h4,.our-team h4{
        font-size: 2rem;
    }
    header p,.habit-section p,.run-section p,.bmi p,.our-team p
    {
        font-size: 1rem; 
    }
    .bmi h5{
        font-size: 1.3rem;
    }
    .btn2{
        display: flex;
    }
    
    .img-btn{
        margin-top: 10px;
        margin-left: -220px;
        width: 100px;
        height: 50px;
        font-size: 0.6rem;
    }
    .img-btn2{
        margin-left: -80px; 
        margin-bottom:220px ;
        width: 110px;
        height: 60px;
        font-size: 0.6rem;
        padding-left: 10px;
    }
    .circle{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .play-icon{
        margin-left: -22.5px;
    }
    .shape{
        font-size: 5rem;
    }
    .span2{
        font-size:1.1rem ;
        font-weight: 800;
    }
    .span1{
        font-size: 0.8rem;
    }
    .trainer-div{
        gap: 0px;
    }
    .trainerdiv{
        margin-top: 30px;
    }
    .habit-section{
        margin-top: 0px;
        margin-right: 10px;
    }
    .habit-card{
        grid-template-columns: repeat(1,1fr);
    }
    .run-section{
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
    }
    .run-sec-div1{
        margin: 0px 0px 0px 0px;
    }
    .runimg{
        width: 90%;
        margin: 0 auto;
    }
    .run-img2{
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 35px;
        border-radius: 18px;   
    }
    .run-sec-div1 button{
        width: 100%;
    }
   .bmi-div{
    flex-direction: column;
   }
   .bmi-div{
    padding: 20px;
   }
   .input-1{
    width: 100%;
height: 20px;
   }
   select{
    width: 117%;
    height:45px ;
   }
   .div2 select{
    width: 100%;
}
textarea{
    width: 82%;
}
.bmi-heading{
    padding: 0px 0px 0px 10px;
}
.trainer-div{
    flex-direction: column;
}
.trainer-div img{
    width: 100%;
}
.trainer-card{
    margin-bottom: 30px;
 }
.recipes{
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 20px;
}
.healthy-recipes h3,.healthy-recipes h4{
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 15px;
}
.healthy-recipes h3{
    font-size: 1.7rem;
}
.healthy-recipes p{
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 0.8rem;
}
.healthy-recipes{
    margin-top: 30px;
}
.recipes-card{
    padding: 20px;
}

.footer-div,.footer-list,.footer-heading{
    flex-direction: column;
    gap: 0px;
    margin: 10px;
}
.footer-heading p{
    margin-bottom: 0px;
    letter-spacing: 0.3px;
    line-height: 24px;
}
hr{
    width: 250px;
}
footer h4{
    padding-top: 0px;
    padding-bottom: 20px;
}
footer h3{
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    margin-top: 30px;
}
}